<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Vue js
    </title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>


    <div id="contenedor">
        <h1>
           {{name}}
           
        </h1>
        <h1>
            {{lastname}}
        </h1>

        <input type="text" v-model="name">
        <button @click="hola">click me</button>
        <hr>
        <input type="text" v-model="uno" name="first">
        <input type="text" v-model="dos" name="second">
        <button @click="suma">click me</button>
        <h1>
            {{resultado}}
        </h1>

    </div>
    <script type="text/javascript">

        const { createApp } = Vue
   const app = createApp({
            data() {
                return {
                    name: 'Jesus',
                    lastname: 'Dominguez',
                    uno: '0',
                    dos: '0',
                    resultado: ''
                }
          }, methods:{
            hola() {
                alert('hola ' + this.name);
            },
            suma(){
                this.resultado= parseInt(this.uno) + parseInt(this.dos);
            }
          }
        }).mount('#contenedor')
    </script>
</body>
</html>