Options +FollowSymLinks -Multiviews
RewriteEngine on

#Rutas
RewriteRule ^auth$ app/authController.php
RewriteRule ^prod$ app/productController.php
RewriteRule ^login$ index.php
RewriteRule ^productos/allProducts$ productos/index.php
RewriteRule ^product/([^.?]+)$ productos/detalle.php?slug=$1
